body{
    background-image: url("space.png");
}
h1{
    text-align: center;
}
section{
    background-color: rgb(69, 114, 211);
    width: 300px;
    height: 470px;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
}
div#status-bar{
    background-color: rgb(116, 218, 231);
    text-align: right;
    border-radius: 10px;
    height: 20px;
    width: 250px;
    margin: auto;
}
div#numero{
    background-color: rgb(153, 240, 199);
    text-align: center;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    margin: auto;
}
div#resultado{
    background-color: rgb(222, 250, 215);
    text-align: center;
    border-radius: 10px;
    height: 240px;
    width: 250px;
    margin: auto;
}
p#status{
    padding-right: 20px;
    font-weight: bold;
}
p#txtRodape{
    text-align: center;
}
p#txtResultado{
    text-align: left;
    padding-left: 20px;
}